#taxi {
    .xd {
        position: absolute;
        z-index: 3;
    }
    .bg {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .taxi-first-wnd-wrapper {
        @extend %center;
        h1 {
            font-family: Gilroy;
            font-style: normal;
            font-weight: bold;
            font-size: 7.2vh;
            color: white;

            text-align: center;

            text-shadow: 0px 0.6vh 0px #aaaaaa;
        }
        p {
            margin-top: 3vh;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 2.4vh;
            text-align: center;
            width: 57vh;

            color: rgba(255, 255, 255, 0.5);
        }
        .taxi-first-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35vh;
            height: 12vh;
            margin: 0 auto;
            margin-top: 4vh;
            transition: all 0.5s;

            // background: #ffd600;
            span {
                font-family: Gilroy;
                font-style: normal;
                font-weight: bold;
                font-size: 2.8vh;

                color: #ffffff;

                transform: rotate(-0.33deg);
            }
        }
        .taxi-first-button-start {
            background: #ffd600;
            &:hover {
                box-shadow: 0px 4px 0px #c9a900;
                background: #f5cc00;
            }
        }
        .taxi-first-button-leave {
            background: #6b6b6b;
            &:hover {
                background: #5c5c5c;
                box-shadow: 0px 4px 0px #635d5d;
            }
        }
        h2 {
            margin-top: 1vh;
            text-align: center;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 2.4vh;

            color: #ffffff;
        }
    }
    .taxi-oders-wrapper {
        @extend %center;
        display: block;
        height: 80.5vh;
        overflow: scroll;
        overflow-x: hidden;
        width: 98vh;
        .taxi-order-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 96vh;
            height: 12vh;
            border-radius: 1vh;
            margin-top: 1.7vh;
            background: linear-gradient(180deg, rgba(33, 30, 46, 0.7) 16.76%, rgba(33, 30, 46, 0.658) 100.3%);
            .taxi-order-wrapper-text {
                margin: 0 3vh;
                h1 {
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 2vh;

                    color: rgba(255, 255, 255, 0.4);
                }
                p {
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 2vh;

                    color: #ffffff;
                }
            }
            .taxi-order-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20vh;
                height: 8vh;
                margin-left: 2vh;

                /* yellow */

                background: #ffe83f;
                border-radius: 1vh;
                transition: all 0.5s;
                span {
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;

                    color: #ffffff;
                }
                &:hover {
                    background: #e0cd39;
                }
            }
        }
        .taxi-order-wrapper:first-child {
            margin-top: 0;
        }
    }
    .taxi-rent-taxi-wrapper {
        @extend %center;
        display: block;
        text-align: center;
        h1 {
            font-family: Gilroy;
            font-style: normal;
            font-weight: 600;
            font-size: 4.8vh;

            color: #ffffff;
        }
        p {
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 2.8vh;

            color: rgba(255, 255, 255, 0.5);
        }
        h2 {
            font-family: Gilroy;
            font-style: normal;
            font-weight: 600;
            font-size: 3vh;
            color: rgba(255, 255, 255, 0.5);
        }
        .taxi-rent-taxi-buttons {
            display: flex;
            justify-content: center;
            margin-top: 2.6vh;
            .taxi-rent-taxi-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24.5vh;
                height: 6.1vh;
                margin: 0 1vh;
                transition: all 0.6s;
                span {
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 2vh;

                    color: #ffffff;
                }
            }
            .taxi-rent {
                background: #ffe83f;
                // box-shadow: 0px 4px 4px rgba(255, 232, 63, 0.25);
                border-radius: 0.5vh;
                &:hover {
                    box-shadow: 0px 4px 4px rgba(255, 232, 63, 0.25);
                }
            }
            .taxi-rent-close {
                // background: rgba(255, 255, 255, 0.5);
                border: 2px solid rgba(255, 255, 255, 0.5);
                box-sizing: border-box;
                // margin-left: auto;
                border-radius: 0.5vh;
                &:hover {
                    background: rgba(255, 255, 255, 0.1);
                    border: 0;
                }
            }
        }
    }
    .taxi-fare-wrapper {
        @extend %center;
        h1 {
            text-align: center;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 600;
            font-size: 4.8vh;

            color: #ffffff;
        }
        input {
            margin-top: 3vh;
            width: 50vh;
            // padding-left: 2vh;
            text-align: center;
            height: 6.8vh;
            border: 0;
            outline: 0;

            background: rgba(255, 255, 255, 0.05);
            border-radius: 5px;

            font-family: Gilroy;
            font-style: normal;
            font-weight: normal;
            font-size: 2vh;

            color: rgba(255, 255, 255, 0.5);
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
        .taxi-fare-buttons {
            display: flex;
            justify-content: center;
            margin-top: 2.6vh;
            .taxi-fare-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24.5vh;
                height: 6.1vh;
                // margin: 0 1vh;
                transition: all 0.6s;
                span {
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 2vh;

                    color: #ffffff;
                }
            }
            .fare-rent {
                background: #ffe83f;
                // box-shadow: 0px 4px 4px rgba(255, 232, 63, 0.25);
                border-radius: 0.5vh;
                &:hover {
                    box-shadow: 0px 4px 4px rgba(255, 232, 63, 0.25);
                }
            }
            .fare-rent-close {
                margin-left: auto;
                // background: rgba(255, 255, 255, 0.5);
                border: 2px solid rgba(255, 255, 255, 0.5);
                box-sizing: border-box;
                // margin-left: auto;
                border-radius: 0.5vh;
                &:hover {
                    background: rgba(255, 255, 255, 0.1);
                    border: 0;
                }
            }
        }
    }
    ::-webkit-scrollbar {
        width: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(255, 255, 255);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(236, 236, 236);
    }
}
